<HTML>
<HEAD>
  <TITLE>Password Reset</TITLE>
</HEAD>

<BODY>
{% if completed != True %}
Reset Password
<UL>
  {% for field in form %}
    {% for error in field.errors %}
  <LI>{{error}}
  {% endfor %}
{% endfor %}
</UL>
<FORM action="/django/passwordReset/" method="POST">
{% csrf_token %}
  <TABLE>
    <TR>
      <TD><LABEL for="password1">Password:</LABEL ></TD><TD><INPUT type="password" name="password1" required></INPUT></TD>
    </TR>
    <TR>
      <TD><LABEL for="password2">Confirm Password:</LABEL></TD><TD><INPUT type="password" name="password2" required></INPUT></TD>
    </TR>
    <TR>
      <TD colspan="2"><DIV align="center"><INPUT type="submit"></INPUT></DIV></TD>
    </TR>
  </TABLE>
</FORM>
{% else %}
Your account password has been successfully updated.
{% endif %}
</BODY>

</HTML>
