<Html>
<Head>
  <Title>Login</Title>
{% include 'dwiest-django-users/default.css' %}
{% include 'dwiest-django-users/django-messages.css' %}
{% include 'dwiest-django-users/footer.css' %}
{% load tags %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
</Head>

<Body>

<Div class="filler"></Div>

<H1 align="center">Login</H1>

<Div class="content">

{% for error in form.non_field_errors %}
<Div class="error">{{error}}</Div>
<P>If you have forgotten your password, please click <A href="{% url 'password_reset' %}">here</A>.</P>
{% endfor %}


<Form action="{{form.template_url}}" method="POST">
{% csrf_token %}
<Table align="center">
  <Tr>
    <Td>Email:</Td>
    <Td>{{form.username}}</Td>
  </Tr>
  <Tr>
    <Td>{{form.password.label}}:</Td>
    <Td>{{form.password}}</Td>
  </Tr>
  <Tr>
    <Td>{{form.mfa_token.label}}:</Td>
    <Td>{{form.mfa_token}}</Td>
  </Tr>
  <TR>
  <TR>
    <TD colspan="2"><DIV align="center"><Input type="submit" value="Login"></Input></DIV></TD>
  </TR>
</Table>
</Form>

<P>Need an account? Register <A href="{% url 'registration' %}">here</A>.</P>
</Div>

<Div class="filler"></Div>

<Div class="footer">{% footer %}</Div>
</Body>

</Html>
