<Html>
<Head>
  <Title>{{page_name}}</Title>
{% include 'dwiest-django-users/css.html' %}
{% include 'dwiest-django-users/django-messages-css.html' %}
{% include 'dwiest-django-users/footer-css.html' %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
</Head>

<Body>
{% block header %}
{% with title=page_name %}
{% include 'dwiest-django-users/header.html' %}
{% endwith %}
{% endblock %}

<Div class="content">
<H2>Success!</H2>
<P>
Your account was activated.  You may login <A href="{% url 'login' %}">here</A>.
</P>
</Div>

<Div class="footer">{% include 'dwiest-django-users/footer.html' %}</Div>
</Body>
</Html>
