<Html>
<Head>
  <Title>{{page_name}}</Title>
{% include 'dwiest-django-users/default.css' %}
{% include 'dwiest-django-users/django-messages.css' %}
{% include 'dwiest-django-users/footer.css' %}
{% load tags %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
</Head>

<Body>
{% block header %}
{% with title=page_name %}
{% include 'dwiest-django-users/header.html' %}
{% endwith %}
{% endblock %}

<Div class="filler"></Div>

<Div class="content">
<H2>Thank you!</H2>
<P>Thank you for registering! Please check your email for an activation link.</P>
</Div>

<Div class="filler"></Div>

{% footer %}
</Body>
</Html>
