<Html>
<Head>
  <Title>{{page_name}}</Title>
{% include 'dwiest-django-users/css.html' %}
{% include 'dwiest-django-users/django-messages-css.html' %}
{% include 'dwiest-django-users/footer-css.html' %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
</Head>

<Body>
{% block header %}
{% with title=page_name %}
{% include 'dwiest-django-users/header.html' %}
{% endwith %}
{% endblock %}

<Div class="content">
<H2>Sorry!</H2>

{% for message in messages %}
 <Div class="error">{{message}}</Div>
{% endfor %}

<P>
Your account registration request has failed.  Please contact support for further assistance.
</P>

{% if request.GET.activation_id %}
<P>
Click <A href="{% url 'registration_resend' %}?activation_id={{request.GET.activation_id}}">here</A> if you would like to receive a new registration link.
</P>
{% endif %}

</Div>

<Div class="footer">{% include 'dwiest-django-users/footer.html' %}</Div>
</body>

</html>
