<Html>
<Head>
  <Title>User RegisTration</Title>
{% include 'dwiest-django-users/css.html' %}
{% include 'dwiest-django-users/django-messages-css.html' %}
{% include 'dwiest-django-users/footer-css.html' %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
</Head>

<Body>
{% if completed != True %}
<Div class="content">
<H1>User Registration</H1>
{% for field in form %}
  {% for error in field.errors %}
  <Div class="error">{{error}}</Div>
  {% endfor %}
{% endfor %}
</ul>
<Form action="/django/registration/" method="POST">
{% csrf_token %}
<Table align="center">
  <Tr>
    <Td>{{form.username.label}}:</Td>
    <Td>{{form.username}}</Td>
  </Tr>
  <Tr>
    <Td>{{form.password1.label}}:</Td>
    <Td>{{form.password1}}</Td>
  </Tr>
  <Tr>
    <Td>{{form.password2.label}}:</Td>
    <Td>{{form.password2}}</Td>
  </Tr>
  <Tr>
    <Td colspan="2"><DIV align="center"><input type="submit"></input></DIV></Td>
  </Tr>
</Table>
</Form>
{% else %}
<P>Thank you for registering!</P>
<P>Please check your email for an activation link.</P>
{% endif %}
</Div>

<Div class="footer">{% include 'dwiest-django-users/footer.html' %}</Div>
</body>

</Html>
