<Html>
<Head>
  <Title>{{page_name}}</Title>
{% include 'dwiest-django-users/default.css' %}
{% include 'dwiest-django-users/django-messages.css' %}
{% include 'dwiest-django-users/footer.css' %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
</Head>

<Body>
<Div class="content" align="center">
{% block header %}
{% with title=page_name %}
{% include 'dwiest-django-users/header.html' %}
{% endwith %}
{% endblock %}

<H2>Success!</H2>
<P>
Your password has been updated.
</P>
</Div>

<Div class="footer">{% include 'dwiest-django-users/footer.html' %}</Div>
</body>

</html>
