<Html>
<Head>
  <Title>Login</Title>
{% include 'css.html' %}
{% include 'django-messages-css.html' %}
{% include 'footer-css.html' %}
</Head>

<Body>
<Div class="content">
<H1>Login</H1>

{% for error in form.non_field_errors %}
<Div class="error">{{error}}</Div>
<P>If you have forgotten your password, please click <A href="{% url 'password_reset' %}">here</A>.
{% endfor %}

<P>
<Form action="{{form.template_url}}" method="POST">
{% csrf_token %}
<Table align="center">
  <Tr>
    <Td>Email:</Td>
    <Td>{{form.username}}</Td>
  </Tr>
  <Tr>
    <Td>{{form.password.label}}:</Td>
    <Td>{{form.password}}</Td>
  </Tr>
  <Tr>
    <Td>{{form.mfa_token.label}}:</Td>
    <Td>{{form.mfa_token}}</Td>
  </Tr>
  <TR>
  <TR>
    <TD colspan="2"><DIV align="center"><Input type="submit" value="Login"></Input></DIV></TD>
  </TR>
</Table>
</Form>
</P>
<P>Need an account? Register <A href="{% url 'registration' %}">here</A>.</P>
</Div>
<Div class="footer">{% include 'footer.html' %}</Div>
</Body>

</Html>
