<Html>
<Head>
  <Title>Login</Title>
</Head>

<Body>
<Div align="center"><H1>Login</H1>

{% for error in form.non_field_errors %}
<P>{{error}}</P>
<P>If you have forgotten your password, please click <A href="{% url 'reset_password' %}">here</A>
{% endfor %}

<P>
<Form action="{{form.template_url}}" method="POST">
{% csrf_token %}
<Table>
  <Tr>
    <Td>Email:</Td>
    <Td>{{form.username}}</Td>
  </Tr>
  <Tr>
    <Td>{{form.password.label}}:</Td>
    <Td>{{form.password}}</Td>
  </Tr>
  <Tr>
    <Td>{{form.mfa_token.label}}:</Td>
    <Td>{{form.mfa_token}}</Td>
  </Tr>
  <TR>
  <TR>
    <TD colspan="2"><DIV align="center"><Input type="submit" value="Login"></Input></DIV></TD>
  </TR>
</Table>
</Form>
</P>
<P>Need an account? Register <A href="{% url 'register' %}">here</A>.</P>
</Div>
{% include 'footer.html' %}
</Body>

</Html>
