<Html>
<Head>
  <Title>Multi-Factor Authentication Disabled</Title>
{% include 'dwiest-django-users/default.css' %}
{% include 'dwiest-django-users/django-messages.css' %}
{% include 'dwiest-django-users/footer.css' %}
{% load tags %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
</Head>

<Body>
{% block header %}
{% with title='Multi-Factor Authentication Disabled'%}
{% include 'dwiest-django-users/header.html' %}
{% endwith %}
{% endblock %}

<Div class="filler"></Div>

<Div class="content">
<H2>Success!</H2>
<P>
Multi-factor authentication was successfully disabled for your account.<Br>
You will no longer need to enter the value from your authenticator app when logging in.
</P>
<P>
If you would like to re-enable multi-factor authentiction you may do so <A href="{% url 'mfa_enable' %}">here</A>.
</P>
</Div>

<Div class="filler"></Div>

{% footer %}
</body>

</html>
