<Html>
<Head>
  <Title>Multi-Factor Authentication Enabled</Title>
{% include 'dwiest-django-users/css.html' %}
{% include 'dwiest-django-users/django-messages-css.html' %}
{% include 'dwiest-django-users/footer-css.html' %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
</Head>

<Body>
{% block header %}
{% with title='Multi-Factor Authentication Enabled'%}
{% include 'dwiest-django-users/header.html' %}
{% endwith %}
{% endblock %}

<Div class="content">
<H2>Success!</H2>
<P>
Multi-factor authentication was successfully enabled for your account.<Br>
You will need to enter the value from your authenticator app when logging in.
</P>
<P>
If you would like to disable multi-factor authentiction you may do so <A href="{% url 'mfa_disable' %}">here</A>.
</P>
</Div>

<Div class="footer">{% include 'dwiest-django-users/footer.html' %}</Div>
</body>

</html>
