<html>
<head>
  <title>Multi-Factor Authentication</title>
{% include 'dwiest-django-users/default.css' %}
{% include 'dwiest-django-users/django-messages.css' %}
{% include 'dwiest-django-users/footer.css' %}
{% load dwiest_django_users.tags %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
{% block header %}
{% with title='Multi-Factor Authentication' %}
{% include 'dwiest-django-users/header.html' %}
{% endwith %}
{% endblock %}

<Div class="filler"></Div>

<Div class="content">
{% if user_has_mfa %}
<H2>Multi-Factor is Enabled</H2>
<P>
Multi-factor authentication is currently enabled for your account.
</P>
<P>
Click <A href="{%url 'mfa_disable'%}">here</A> if you would like to disable it.
</P>
{% else %}
<H2>Multi-Factor is Disabled</H2>
Multi-factor authentication is currently disabled for your account.
<P>
Click <A href="{%url 'mfa_enable'%}">here</A> to enable it.
</P>
{% endif %}
</Div>

<Div class="filler"></Div>

{% footer %}
</Div>
</body>

</html>
