<Html>
<Head>
  <Title>Multi-Factor Authentication Disabled</Title>
{% include 'css.html' %}
{% include 'django-messages-css.html' %}
{% include 'footer-css.html' %}
</Head>

<Body>
{% block header %}
{% with title='Multi-Factor Authentication Disabled'%}
{% include 'header.html' %}
{% endwith %}
{% endblock %}

<Div class="content">
<H2>Success!</H2>
<P>
Multi-factor authentication was successfully disabled for your account.<Br>
You will no longer need to enter the value from your authenticator app when logging in.
</P>
<P>
If you would like to re-enable multi-factor authentiction you may do so <A href="{% url 'mfa_enable' %}">here</A>.
</P>
</Div>

<Div class="footer">{% include 'footer.html' %}</Div>
</body>

</html>
