<html>
<head>
  <title>{{page_name}}</title>
{% include 'css.html' %}
{% include 'django-messages-css.html' %}
{% include 'footer-css.html' %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
{% block header %}
{% with title=page_name %}
{% include 'header.html' %}
{% endwith %}
{% endblock %}

<Div class="content">
{% if user_has_mfa %}
<H2>Multi-Factor is Enabled</H2>
<P>
Multi-factor authentication is currently enabled for your account.
</P>
<P>
Click <A href="{%url 'mfa_disable'%}">here</A> if you would like to disable it.
</P>
{% else %}
<H2>Multi-Factor is Disabled</H2>
Multi-factor authentication is currently disabled for your account.
<P>
Click <A href="{%url 'mfa_enable'%}">here</A> to enable it.
</P>
{% endif %}
</Div>

<Div class="footer">{% include 'footer.html' %}</Div>
</body>

</html>
