<HTML>
<HEAD>
  <TITLE>Change Password</TITLE>
</HEAD>

<!-- if the user is logged in, show the FORM -->
<!-- if the user is not logged in, but an activation id is present show the FORM -->

<BODY>
<Div align="center"><H1>Change Password</H1>

{% include "header.html" %}
{% if completed != True %}

<UL>
{% for error in form.non_field_errors %}
<P>{{error}}</P>
{% endfor %}

  {% for field in FORM %}
    {% for error in field.errors %}
  <LI>{{error}}
  {% endfor %}
{% endfor %}
</UL>
<FORM action="/django/changePassword/" method="POST">
{% csrf_token %}
<INPUT type="hidden" name="activation_id" value="{{request.GET.id}}">
<Div align="center">
<TABLE>
  <TR>
    <TD><LABEL for="password">Password:</LABEL></TD><TD><INPUT type="password" name="password" required></INPUT></TD>
  </TR>
  <TR>
    <TD><LABEL for="new_password1">New Password:</LABEL></TD><TD><INPUT type="password" name="new_password1" required></INPUT></TD>
  </TR>
  <TR>
    <TD><LABEL for="new_password2">Confirm Password:</LABEL></TD><TD><INPUT type="password" name="new_password2" required></INPUT></TD>
  </TR>
  <TR>
    <TD colspan="2"><DIV align="center"><INPUT type="submit" value="Change Password"></INPUT></DIV></TD>
  </TR>
</TABLE>
</Div>
</FORM>
{% else %}
<P>Your password has been updated.</P>

{% endif %}

{% include "footer.html" %}
</Div>
</Body>
</Html>
