<HTML>
<HEAD>
  <TITLE>Password Reset</TITLE>
</HEAD>

<BODY>
{% if completed != True %}
<Div align="center">
<H1>Reset Password</H1>

<FORM action="/django/resetPassword/" method="POST">
{% csrf_token %}
<TABLE>
  <TR>
    <TD><LABEL for="email">Email:</LABEL></TD><TD><INPUT type="text" name="email" required></INPUT></TD><TD><INPUT type="submit" value="Reset Password"></INPUT></TD>
  </TR>
</TABLE>
</FORM>
{% else %}
If you have an active account you should have received an email message that includes a link to reset your password.
{% endif %}
</Div>
{% include 'footer.html' %}
</BODY>

</HTML>
