<Html>
<Head>
  <Title>{{page_name}}</Title>
{% include 'dwiest-django-users/default.css' %}
{% include 'dwiest-django-users/django-messages.css' %}
{% include 'dwiest-django-users/footer.css' %}
{% load tags %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
</Head>

<Body>
<Div class="filler"></Div>

<Div class="content">
<H1>{{page_name}}</H1>
<P>
If you have an active account you should receive an email message that includes a link to reset your password.
</P>
<P>Click <A href="{% url 'login' %}">here</A> to return to the login page.
</Div>

<Div class="filler"></Div>

{% footer %}
</Body>

</Html>
