<Html>
<Head>
  <Title>{{page_name}}</Title>
{% include 'dwiest-django-users/default.css' %}
{% include 'dwiest-django-users/django-messages.css' %}
{% include 'dwiest-django-users/footer.css' %}
{% load dwiest_django_users.tags %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
</Head>

<Body>

<Div class="filler"></Div>

<Div class="content">
<H1>{{page_name}}</H1>
{% for field in form %}
  {% for error in field.errors %}
  <Div class="error">{{error}}</Div>
  {% endfor %}
{% endfor %}

<P>
Enter your email address below to have a password reset link mailed to you.
</P>
<Form action="{% url 'password_reset' %}" method="POST">
{% csrf_token %}
<Table>
  <Tr>
    <Td>{{form.email.label}}: {{form.email}}</Td><Td><Input type="submit" value="Reset Password"></Input></Td>
  </Tr>
</Table>
</Form>
</Div>

<Div class="filler"></Div>

{% footer %}
</Body>

</Html>
