<Style>
@media only screen and (max-width: 600px) {
  .footer {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 2.8vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    Xbackground: blue;
  }
}
@media only screen and (min-width: 600px) {
  .footer {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 2.25vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    Xbackground: green;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1.9vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    Xbackground: red;
  }
}
@media only screen and (min-width: 992px) {
  .footer {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    Xbackground: yellow;
  }
}
@media only screen and (min-width: 1200px) {
  .footer {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1.2vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    Xbackground: orange;
  }
}
</Style>
