<Html>
<Head>
  <Title>{{page_name}}</Title>
  {% include "css.html" %}
</Head>

<Body>

{% block header %}
{% with title=page_name %}
{% include 'header.html' %}
{% endwith %}
{% endblock %}

<Div align="center">
{% if form.non_field_errors %}
<P>
  {% for error in form.non_field_errors %}
<Div class="error-text">{{error}}</Div>
  {% endfor %}
</P>
{% endif %}

<P>
{% for field in form %}
  {% for error in field.errors %}
<Div class="error-text">{{error}}</Div>
  {% endfor %}
{% endfor %}
</P>

<Form action="{% url 'password_reset_confirm' %}" method="POST">
{% csrf_token %}
{{form.activation_id}}
<Table>
  <tr>
    <Td>{{form.new_password1.label}}</Td>
    <Td>{{form.new_password1}}</Td>
  </tr>
  <tr>
    <Td>{{form.new_password2.label}}</Td>
    <Td>{{form.new_password2}}</Td>
  </tr>
  <tr>
    <Td>{{form.mfa_token.label}}:</Td>
    <Td>{{form.mfa_token}}</Td>
  </tr>
  <tr>
    <Td colspan="2"><Div align="center"><Input type="submit" value="Change Password"></Input></Div></Td>
  </tr>
</Table>
</Form>
</Div>

{% include "footer.html" %}
</Body>
</Html>
