<Html>
<Head>
  <Title>Change Password</Title>
  {% include "css.html" %}
</Head>

<!-- if the user is logged in, show the Form -->
<!-- if the user is not logged in, but an activation id is present show the Form -->

<Body>
<Div align="center"><H1>Change Password</H1>

{% include "header.html" %}
{% if completed != True %}

{% if form.non_field_errors %}
<P>
  {% for error in form.non_field_errors %}
<Div class="error-text">{{error}}</Div>
  {% endfor %}
</P>
{% endif %}

<P>
{% for field in form %}
  {% for error in field.errors %}
<Div class="error-text">{{error}}</Div>
  {% endfor %}
{% endfor %}
</P>

<Form action="{% url 'change_password' %}" method="POST">
{% csrf_token %}
<Input type="hidden" name="activation_id" value="{{request.GET.id}}">
<Div align="center">
<Table>
  <tr>
    <Td>{{form.old_password.label}}</Td>
    <Td>{{form.old_password}}</Td>
  </tr>
  <tr>
    <Td>{{form.new_password1.label}}</Td>
    <Td>{{form.new_password1}}</Td>
  </tr>
  <tr>
    <Td>{{form.new_password2.label}}</Td>
    <Td>{{form.new_password2}}</Td>
  </tr>
  <tr>
    <Td>{{form.mfa_token.label}}:</Td>
    <Td>{{form.mfa_token}}</Td>
  </tr>
  <tr>
    <Td colspan="2"><Div align="center"><Input type="submit" value="Change Password"></Input></Div></Td>
  </tr>
</Table>
</Div>
</Form>
{% else %}
<P>Your password has been updated.</P>

{% endif %}

{% include "footer.html" %}
</Div>
</Body>
</Html>
