<Html>
<Head>
  <Title>{{page_name}}</Title>
{% include 'css.html' %}
{% include 'django-messages-css.html' %}
{% include 'footer-css.html' %}
</Head>

<Body>
{% block header %}
{% with title=page_name %}
{% include 'header.html' %}
{% endwith %}
{% endblock %}

<Div class="content">
<H2>Sorry!</H2>
{% for message in messages %}
 <Div class="error">{{message}}</Div>
{% endfor %}
<P>
Your password reset request has failed.  Click <A href="{% url 'password_reset' %}">here</A> to try again.
</P>
</Div>

<Div class="footer">{% include 'footer.html' %}</Div>
</body>

</html>
