<Html>
<Head>
  <Title>Change Password</Title>
</Head>

<!-- if the user is logged in, show the Form -->
<!-- if the user is not logged in, but an activation id is present show the Form -->

<Body>
<Div align="center"><H1>Change Password</H1>

{% include "header.html" %}
{% if completed != True %}

<Ul>
{% for error in form.non_field_errors %}
<P>{{error}}</P>
{% endfor %}

  {% for field in Form %}
    {% for error in field.errors %}
  <LI>{{error}}
  {% endfor %}
{% endfor %}
</Ul>
<Form action="/django/changePassword/" method="POST">
{% csrf_token %}
<Input type="hidden" name="activation_id" value="{{request.GET.id}}">
<Div align="center">
<Table>
  <tr>
    <Td><Label for="password">Password:</Label></Td><Td><Input type="password" name="password" required></Input></Td>
  </tr>
  <tr>
    <Td><Label for="new_password1">New Password:</Label></Td><Td><Input type="password" name="new_password1" required></Input></Td>
  </tr>
  <tr>
    <Td><Label for="new_password2">Confirm Password:</Label></Td><Td><Input type="password" name="new_password2" required></Input></Td>
  </tr>
  <tr>
    <Td colspan="2"><Div align="center"><Input type="submit" value="Change Password"></Input></Div></Td>
  </tr>
</Table>
</Div>
</Form>
{% else %}
<P>Your password has been updated.</P>

{% endif %}

{% include "footer.html" %}
</Div>
</Body>
</Html>
