<Html>
<Head>
  <Title>User RegisTration</Title>
{% include 'css.html' %}
</Head>

<Body>
{% if completed != True %}
<Div align="center">
<H1>User Registration</H1>
{% for field in form %}
  {% for error in field.errors %}
  <Div class="error-text">{{error}}</Div>
  {% endfor %}
{% endfor %}
</ul>
<Form action="/django/registration/" method="POST">
{% csrf_token %}
<Table>
  <Tr>
    <Td>{{form.username.label}}:</Td>
    <Td>{{form.username}}</Td>
  </Tr>
  <Tr>
    <Td>{{form.password1.label}}:</Td>
    <Td>{{form.password1}}</Td>
  </Tr>
  <Tr>
    <Td>{{form.password2.label}}:</Td>
    <Td>{{form.password2}}</Td>
  </Tr>
  <Tr>
    <Td colspan="2"><DIV align="center"><input type="submit"></input></DIV></Td>
  </Tr>
</Table>
</Form>
{% else %}
<P>Thank you for registering!</P>
<P>Please check your email for an activation link.</P>
{% endif %}
</Div>

{% include 'footer.html' %}
</body>

</Html>
