<html>
<head>
  <title>User Registration</title>
{% include 'css.html' %}
</head>

<Body>
{% if completed != True %}
<Div align="center">
<H1>User Registration</H1>
{% for field in form %}
  {% for error in field.errors %}
  <Div class="error-text">{{error}}</Div>
  {% endfor %}
{% endfor %}
</ul>
<form action="/django/registration/" method="POST">
{% csrf_token %}
<table>
  <tr>
    <td>{{form.username.label}}:</td>
    <td>{{form.username}}</td>
  </tr>
  <tr>
    <td>{{form.password1.label}}:</td>
    <td>{{form.password1}}</td>
  </tr>
  <tr>
    <td>{{form.password2.label}}:</td>
    <td>{{form.password2}}</td>
  </tr>
  <tr>
    <td colspan="2"><DIV align="center"><input type="submit"></input></DIV></td>
  </tr>
</table>
</form>
{% else %}
<P>Thank you for registering!</P>
<P>Please check your email for an activation link.</P>
{% endif %}
</Div>

{% include 'footer.html' %}
</body>

</html>
