<Html>
<Head>
  <Title>Password Reset</Title>
{% include 'css.html' %}
</Head>

<Body>
{% if completed != True %}
<H2>Reset Password</H2>
{% for field in form %}
  {% for error in field.errors %}
  <Div class="error-text">{{error}}</Div>
 {% endfor %}
{% endfor %}
</Ul>
<Form action="/django/passwordReset/" method="POST">
{% csrf_token %}
  <Table>
    <Tr>
      <Td><Label for="password1">Password:</Label ></Td><Td><Input type="password" name="password1" required></Input></Td>
    </Tr>
    <Tr>
      <Td><Label for="password2">Confirm Password:</Label></Td><Td><Input type="password" name="password2" required></Input></Td>
    </Tr>
    <Tr>
      <Td colspan="2"><Div align="center"><Input type="submit"></Input></Div></Td>
    </Tr>
  </Table>
</Form>
{% else %}
<Div align="center">
<H2>Password Reset Email Sent</H2>
Your account password has been successfully updated.
</Div>
{% endif %}
{% include 'footer.html' %}
</Body>

</Html>
