<Html>
<Head>
  <Title>Password Reset</Title>
{% include 'css.html' %}
</Head>

<Body>
<Div align="center">
<H1>Reset Password</H1>
{% if completed != True %}
<Form action="/django/resetPassword/" method="POST">
{% csrf_token %}
<Table>
  <Tr>
    <Td><Label for="email">Email:</Label></Td><Td><Input type="text" name="email" required></Input></Td><Td><Input type="submit" value="Reset Password"></Input></Td>
  </Tr>
</Table>
</Form>
{% else %}
If you have an active account you should have received an email message that includes a link to reset your password.
{% endif %}
</Div>
{% include 'footer.html' %}
</Body>

</Html>
