<Html>
<Head>
  <Title>{{page_name}}</Title>
{% include 'css.html' %}
{% include 'django-messages-css.html' %}
{% include 'footer-css.html' %}
  <Meta name="viewport" content="width=device-width, initial-scale=1.0" />
</Head>

<Body>
<Div class="content">
<H1>{{page_name}}</H1>
<P>
If you have an active account you should receive an email message that includes a link to reset your password.
</P>
<P>Click <A href="{% url 'login' %}">here</A> to return to the login page.
</Div>
<Div class="footer">{% include 'footer.html' %}</Div>
</Body>

</Html>
